[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CircularSilhouette"]
	path = CircularSilhouette
	url = https://github.com/cran/CircularSilhouette
[submodule "Ckmeans.1d.dp"]
	path = Ckmeans.1d.dp
	url = https://github.com/cran/Ckmeans.1d.dp
[submodule "DiffXTables"]
	path = DiffXTables
	url = https://github.com/cran/DiffXTables
[submodule "FunChisq"]
	path = FunChisq
	url = https://github.com/cran/FunChisq
[submodule "OptCirClust"]
	path = OptCirClust
	url = https://github.com/cran/OptCirClust
[submodule "TreeDimensionTest"]
	path = TreeDimensionTest
	url = https://github.com/cran/TreeDimensionTest
